[Unit]
Description=Daily Grow Team backup

[Timer]
OnCalendar=*-*-* 21:15:00 UTC
RandomizedDelaySec=300
Persistent=yes
Unit=grow-team-backup.service

[Install]
WantedBy=timers.target
