{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png?v=grow-team-1" alt=""/>
{% endblock %}

{% block content %}

<p>{{ _("As you are getting started with Grow Team, we'd love to help you discover how it can work best for your needs. Check out this guide to key Grow Team features for organizations like yours!") }}</p>


<a class="button" href="{{ zulip_guide_link }}">{{ _("Open the Grow Team getting started guide") }}</a>

<p>
    {% if corporate_enabled %}
        {{macros.contact_us_zulip_cloud(support_email)}}
    {% else %}
        {{macros.contact_us_self_hosted(support_email)}}
    {% endif %}
</p>

{% endblock %}

{% block manage_preferences %}

<p><a href="{{ unsubscribe_link }}">{% trans %}Unsubscribe from welcome emails for {{ realm_name }}{% endtrans %}</a></p>

{% endblock %}
